footer
  .container
    .photo
    h5 Developed and maintained by #{" "}
      a(href="http://twitter.com/sanjaypojo") @sanjaypojo
    p.small Rediscovering Life. Exploring Minimalism. Coding a bit.
  //- p.small.
  //-   This is where Sanjay put's down anything he wants to remember, discuss or show off about.
  //-   He built from scratch using NodeJS and calls his tiny little blogging engine Papyrus.