html
  head
    title Thoughtarium
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body.home
    header
      h1 Thoughtarium
      h4 Ideas brewed like filter coffee
    main
      each post in posts
        .post
          a(href="/#{post.url}")
            h5.meta= post.date.fromNow()
            h2 #{post.title}
            p #{post.excerpt}
