html
  head
    title Thoughtarium
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body.home
    header
      h1 Thoughtarium
      h4 Ideas brewed like filter coffee
    main
      each post in posts
        .post
          p.meta= post.date.fromNow()
          a(href="/#{post.url}")
            h3.title #{post.title}
            p.excerpt #{post.excerpt}
