html
  head
    title Thoughtarium
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    header
      h1 Thoughtarium
    main
      each post in posts
        h3 #{post.title}
        p #{post.excerpt}
