html
  head
    title Thoughtarium
    link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night-bright.min.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body(class="#{bodyClass}")
    header
      h1 Thoughtarium
    main
      div !{renderedMarkdown}

  script.
    document.onreadystatechange = function() {
      if (document.readyState === 'complete') {
        var elems = document.getElementsByTagName('pre');
        for (var i = 0; i < elems.length; ++i) {
          elems[i].classList.add('hljs');
        }
      }
    };
