html
  head
    title Thoughtarium
    link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night-bright.min.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body.single-post
    header
      a(href="/")
        h1 Thoughtarium
    main
      .meta= post.date.format("dddd, do MMM 'YY")
      .title
        h1= post.title
      .markdown !{renderedMarkdown}

  script.
    document.onreadystatechange = function() {
      if (document.readyState === 'complete') {
        var elems = document.getElementsByTagName('pre');
        for (var i = 0; i < elems.length; ++i) {
          elems[i].classList.add('hljs');
        }
      }
    };
